*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.nav{
    background-color: teal;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 100
    ;
}
.navegador{
    display: flex;
    align-items: center;
}
.nav a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}
.nav a:hover{
    background: cadetblue;
    padding: 1px;
    border: 30px;
}
.img{
    background-color: mediumaquamarine;
}
.barnavv{
    background-color: teal;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 100
    ;
}
.barnav{
    align-items: center;
}
.barnavv a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}
.barnav a:hover{
    background: cadetblue;
    padding: 1px;
    border: 30px;
}
.imagen{
    background-color: mediumaquamarine;
}
.Audio{
    padding: 25px 10px 10px;
    background-color: mediumaquamarine;
}
.lii{
    background-color: teal;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 100
    ;
}
.li{ align-items: center;
}
.lii a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}
.lii a:hover{
    background: cadetblue;
    padding: 1px;
    border: 30px;
}
.ima{
    background-color: mediumaquamarine;
}
.audioo{
    padding: 25px 10px 10px;
    background-color: mediumaquamarine;
}